.wrapper {
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
}

/*------Name-------*/

.name {
    z-index: 999;
    position: absolute;
    color: whitesmoke;
    top: 10%;
    font-family: 'Century Gothic';
}

.first {
    left: 20%;
}

h3.last {
    position: relative;
    margin-left: 180px;
    margin-top: -30px;
    color: grey;
}

h1.first {
    position: relative;
    margin-left: -40px;
}

/*-------Profile------*/

.profile {
    z-index: 999;
    position: absolute;
    font-family: 'courier';
    margin-left: 30px;
    color: whitesmoke;
    top:11em;
}

/* @media only screen and (min-width: 1900px) {
    .profile {
        top: 18em;
    }
} */
@media only screen and (max-width:1000px) and (min-width: 0px) {
    h1.first {
        font-size: 5em;
        margin-top: -10%;
        margin-left: -70px;
    }
    h3.last {
        font-size: 3em;
        margin-left: 398px;
        margin-top: -30px;
        left:-5%;
        color: grey;
    }
    #resume, #portfolio, #stats {
        left: 36% !important;
        font-size: 62px;
    }
    #portfolio{
        top: 11em !important;
    }
    #resume{
        top: 14em !important;
        width: 337px !important;
    }
    #stats{
        width: 337px !important;
    }
    .profile {
        top: 17em;
    }

    .fa {
        padding: 13px;
        font-size: 44px !important;
    }

    .icons{
        left:40% !important;
    }

    div#carrat {
        font-size: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }
    div#npm {
        font-size: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }
    div#install {
        font-size: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }
    div#exec {
        font-size: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

#carrat {
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    color: gray;
}

#npm {
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    color: yellow;
}

#install {
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    color: whitesmoke;
}

#exec {
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    color: yellow;
}

h4 {
    font-size: 18px !important;
}

/*------Buttons-----*/

#resume, #portfolio, #stats {
    z-index: 999;
    position: absolute;
    left: 46%;
    padding: 10px 50px;
}

#resume {
    top: 27em;
    width: 164px;
}

#portfolio {
    top: 22em;
}

#stats{
    top:17em;
}

.stats {
    width: 164px;
}

/*--------Icons-------*/

.icons {
    z-index: 999;
    position: absolute;
    font-size: 20px;
    top:26em;
    left: 46%;
}

.fa {
    padding: 10px;
    color: whitesmoke;
}

button.btn-link.btn.btn-outline-light {
    padding: 1px 3px;
}

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}