#template {
    display: none;
}

.card {
    position: absolute !important;
    opacity: 94;
    width: 317px !important;
    background: rgba(0, 0, 0, 0)!important;
    border: 1px solid rgba(105, 105, 105, 8.125) !important;
    padding-top: 18px !important;
    margin-top: -24px !important;
}

#c1-top {
    top: 15%;
    left: 20%;
}

#c2-top {
    top: 15%;
    left: 57%;
    height: 295px !important;
}

#c1-bottom {
    top: 60%;
    left: 20%;
}

#c2-bottom {
    top: 60%;
    left: 57%;
}

a.view-proj.btn.btn-outline-light:hover {
    border-color: black;
    background: transparent;
    color: whitesmoke;
}

.home {
    z-index: 999;
    position: absolute;
    font-size: 18px !important;
    left: 3%;
    top: 3%;
    font-family: inherit;
}

.card-title, .card-text {
    color: #f8f9fa
}

.port-img {
    transition: filter 0.5s ease;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    position: relative;
    padding: 0px 20px;
    background-color: rgba(9, 41, 52, 0.5) !important;
}

.port-img:hover {
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

#particles-js {
    height: 100%;
}

@media only screen and (max-height: 900px) and (min-height: 800px) {
    #c1-top {
        top: 15%;
        left: 5%;
    }
    #c1-bottom {
        top: 60%;
        left: 5%;
    }
}

@media only screen and (max-height: 3000px) and (min-height: 900px) {
    .card {
        width: 400px !important;
    }
    #c1-top {
        top: 18%;
        left: 8%;
    }
    #c2-top {
        top: 18%;
        left: 54%;
        height: 379px !important;
    }
    #c1-bottom {
        top: 60%;
        left: 8%;
    }
    #c2-bottom {
        top: 60%;
        left: 54%;
    }
    .card-title {
        font-size: xx-large !important;
    }
    .view-proj {
        font-size: 32px !important;
    }
    .home {
        font-size: 43px !important;
    }
}